*{
    box-sizing: border-box;
    /*para padding e margin não interferir na largura dos elementos*/
    padding: 0;
    margin: 0;

    font-family: 'Space Mono', monospace;
}

:root{

    --colorBack: #2B2B2B;
    --colorClock: #B91646;
    --colorPoiter: #FBF3E4;
 
}
body{

    height: 100vh;/*ocupar toda a altura da tela*/
    background: var(--colorBack);

    display: flex;
    align-items: center;
    justify-content: center;

}

.clock{

    width: 500px;
    height: 500px;
    
    background: var(--colorPoiter);
    color: var(--colorBack);

    text-shadow: 0 0 3px rgba(0, 0, 0, 0.473);
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.596);

    position: relative;
}

.clock .number{

    --rotation: 0;

    position: absolute;
    width: 100%;
    height: 100%;

    text-align: center;

    transform: rotate(var(--rotation));
    font-size: 1.8rem;
    font-weight: 500;

    padding: 15px;
    
}

.clock .number.number-1{
    --rotation: 30deg
}
.clock .number.number-2{
    --rotation: 60deg
}
.clock .number.number-3{
    --rotation: 90deg
}
.clock .number.number-4{
    --rotation: 120deg
}
.clock .number.number-5{
    --rotation: 150deg
}
.clock .number.number-6{
    --rotation: 180deg
}
.clock .number.number-7{
    --rotation: 210deg
}
.clock .number.number-8{
    --rotation: 240deg
}
.clock .number.number-9{
    --rotation: 270deg
}

.clock .number.number-10{
    --rotation: 300deg
}

.clock .number.number-11{
    --rotation: 330deg
}


.clock::after{

    content: '';
    position: absolute;

    width: 10px;
    height: 10px;

    border-radius: 50%;

    top: 50%; /*centralizar*/
    left: 50%;

    z-index: 11;
    background: black;
                        
                /*eixo vertical e horintal*/
    transform: translate(-50%, -50%);

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

}


.clock .hand{
    --rotation: 0;

    position: absolute;

    bottom: 50%;
    left: 50%;


    background: var(--colorBack);

    z-index: 10;
    
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));

    transform-origin: bottom;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.clock .hand.seconds{

    width: 2px;
    height: 9.4em;
    background: var(--colorClock);

}

.clock .hand.minutes{
    
    width: 5px;
    height: 7em;
    background: var(--colorBack);
}

.clock .hand.hours{

    width: 7px;
    height: 5em;
    background: black;
}

@media screen and (max-width: 48em){

    .clock{

        width: 250px;
        height: 250px;
    
    }

    .clock .number{

        font-size: 1em;
    }

    
.clock .hand.seconds{

    width: 2px;
    height: 4em;
    background: var(--colorClock);

}


    
.clock .hand.hours{

    width: 5px;
    height: 2em;
    background: black;
}


    .clock .hand.minutes{
    
        width: 4px;
        height: 3em;
        background: var(--colorBack);
    }

    
    
}